In [1]:
import pandas

* open the csv file

In [2]:
# for crib point (cancelled)
coords_csv = pandas.read_csv('pipeline-coords-2pipelines-example.csv')

* look at the csv file to understand how it's organized
* ultimately each x,y pair should look like:  x1,y1 : x2,y2 : x3,y3 : ...

In [3]:
coords_csv

                 Name  xcoord  ycoord
0  Example Pipeline 1  43.256   25.13
1  Example Pipeline 1  43.257   25.13
2  Example Pipeline 1  43.258   25.13
3  Example Pipeline 2  51.210   10.58
4  Example Pipeline 2  51.220   11.00
5  Example Pipeline 2  51.230   12.00
6  Example Pipeline 2  51.240   15.00
7  Example Pipeline 2  51.250   18.00

* create a list of pipeline names that match up exactly with the csv file; this is something you'll edit yourself

In [4]:
list_of_pipelines = ['Example Pipeline 1',
                     'Example Pipeline 2']

* _aside: to pull out all the rows where the Name column matches "Example Pipeline 1", use the syntax below:_

In [5]:
coords_csv.loc[coords_csv['Name']=='Example Pipeline 1']

                 Name  xcoord  ycoord
0  Example Pipeline 1  43.256   25.13
1  Example Pipeline 1  43.257   25.13
2  Example Pipeline 1  43.258   25.13

* now loop through each ```pipeline_name``` in this list and do the appropriate reformatting, and store that in ```list_of_formatted_coords```

In [6]:
list_of_formatted_coords = []
for pipeline_name in list_of_pipelines:
    # pull out all rows matching pipeline_name
    pipeline_specific_dataframe = coords_csv.loc[coords_csv['Name']==pipeline_name]
    # then change y,x coords into strings
    pipeline_specific_dataframe[['xcoord','ycoord']].astype(str)
    # join those strings with a comma
    joined_strings_dataframe = pipeline_specific_dataframe[['xcoord', 'ycoord']].astype(str).apply(lambda x: ', '.join(x), axis=1)
    # add the colon
    joined_strings_with_colon = joined_strings_dataframe.str.cat(sep=': ')
    # store this in a list
    list_of_formatted_coords.append(joined_strings_with_colon)

* finally, write some code to spit out the information in the format you want

In [7]:
# the first entry in this list is the coordinates for the first pipeline in list_of_pipelines
list_of_formatted_coords[0]

'43.256, 25.13: 43.257, 25.13: 43.258, 25.13'

In [8]:
for index,pipeline_name in enumerate(list_of_pipelines):
    print(pipeline_name, '--', list_of_formatted_coords[index])

Example Pipeline 1 -- 43.256, 25.13: 43.257, 25.13: 43.258, 25.13
Example Pipeline 2 -- 51.21, 10.58: 51.22, 11.0: 51.23, 12.0: 51.24, 15.0: 51.25, 18.0